#news{
   padding: 20px;
   margin: 20px, auto;
   border-radius: 20px;
   background-color: rgb(12, 65, 75);
   box-shadow: 0 0 10px rgb(0,0,0,0.1);
   margin-left: 0;
}
#containers{
    display: flex;
    justify-content: space-around;
}


